[user]
	name = Micha Gorelick
	email = mynameisfiber@gmail.com
[push]
	default = simple
	followTags = true
[init]
	templatedir = ~/.gitrc/git_templates
	defaultBranch = main
[core]
	excludesfile = ~/.gitignore
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
