[ -f "$HOME/.profile" ] && . "$HOME/.profile"
[ -f "$HOME/.bashrc" ] && . "$HOME/.bashrc"
[ -f "$HOME/.Xmodmap" ] && xmodmap ~/.Xmodmap

if [[ "$(cat /etc/hostname)X" = "featherX" ]]; then
    xrandr -o 3
    screen-zoom =0.6
fi

