[submodule "dotfiles/.vim/bundle/Align"]
	path = dotfiles/.vim/bundle/Align
	url = https://github.com/vim-scripts/Align.git
[submodule "dotfiles/.vim/bundle/nerdtree"]
	path = dotfiles/.vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "dotfiles/.vim/bundle/tagbar"]
	path = dotfiles/.vim/bundle/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule "dotfiles/.vim/bundle/vim-fugitive"]
	path = dotfiles/.vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "dotfiles/.vim/bundle/gundo.vim"]
	path = dotfiles/.vim/bundle/gundo.vim
	url = https://github.com/sjl/gundo.vim.git
[submodule "dotfiles/.vim/bundle/nerdcommenter"]
	path = dotfiles/.vim/bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "dotfiles/.oh-my-zsh"]
	path = dotfiles/.oh-my-zsh
	url = git@github.com:robbyrussell/oh-my-zsh.git
[submodule "dotfiles/.vim/bundle/solarized"]
	path = dotfiles/.vim/bundle/solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "dotfiles/.vim/bundle/vim-markdown"]
	path = dotfiles/.vim/bundle/vim-markdown
	url = https://github.com/hallison/vim-markdown.git
[submodule "dotfiles/.vim/bundle/dart"]
	path = dotfiles/.vim/bundle/dart
	url = git@github.com:dart-lang/dart-vim-plugin.git
[submodule "dotfiles/.vim/bundle/zenroom"]
	path = vim/bundle/zenroom
	url = git@github.com:amix/vim-zenroom.git
[submodule "dotfiles/.bin/markdown2ctags"]
	path = dotfiles/.bin/markdown2ctags
	url = git@github.com:jszakmeister/markdown2ctags.git
[submodule "dotfiles/.vim/bundle/targets.vim"]
	path = dotfiles/.vim/bundle/targets.vim
	url = git://github.com/wellle/targets.vim.git
[submodule "dotfiles/.vim/bundle/Dockerfile.vim"]
	path = dotfiles/.vim/bundle/Dockerfile.vim
	url = git@github.com:ekalinin/Dockerfile.vim.git
[submodule "dotfiles/.vim/bundle/vim-expand-region"]
	path = dotfiles/.vim/bundle/vim-expand-region
	url = git@github.com:terryma/vim-expand-region.git
[submodule "lolssh"]
	path = lolssh
	url = git@github.com:mynameisfiber/lolssh.git
[submodule "dotfiles/.vim/bundle/ctrlpvim"]
	path = dotfiles/.vim/bundle/ctrlpvim
	url = git@github.com:ctrlpvim/ctrlp.vim.git
[submodule "dotfiles/.vim/bundle/vim-airline"]
	path = dotfiles/.vim/bundle/vim-airline
	url = git@github.com:vim-airline/vim-airline.git
[submodule "dotfiles/.vim/bundle/vim-airline-themes"]
	path = dotfiles/.vim/bundle/vim-airline-themes
	url = git@github.com:vim-airline/vim-airline-themes.git
[submodule "dotfiles/.vim/bundle/vim-bufferline"]
	path = dotfiles/.vim/bundle/vim-bufferline
	url = git@github.com:bling/vim-bufferline.git
[submodule "dotfiles/.vim/bundle/tabline"]
	path = dotfiles/.vim/bundle/tabline
	url = git@github.com:mkitt/tabline.vim.git
[submodule "dotfiles/.vim/bundle/vim-gitgutter"]
	path = dotfiles/.vim/bundle/vim-gitgutter
	url = git@github.com:airblade/vim-gitgutter.git
[submodule "dotfiles/.vim/bundle/stan.vim"]
	path = dotfiles/.vim/bundle/stan.vim
	url = https://github.com/lindemann09/stan.vim.git
[submodule "stowsh"]
	path = stowsh
	url = git@github.com:williamsmj/stowsh.git
[submodule "dotfiles/.vim/bundle/vim-minimap"]
	path = dotfiles/.vim/bundle/vim-minimap
	url = git@github.com:severin-lemaignan/vim-minimap.git
[submodule "dotfiles/.vim/bundle/vim-tmux-focus-events"]
	path = dotfiles/.vim/bundle/vim-tmux-focus-events
	url = git@github.com:tmux-plugins/vim-tmux-focus-events.git
[submodule "dotfiles/.vim/bundle/vim-tmux-clipboard"]
	path = dotfiles/.vim/bundle/vim-tmux-clipboard
	url = git@github.com:roxma/vim-tmux-clipboard.git
[submodule "dotfiles/.pyenv"]
	path = dotfiles/.pyenv
	url = https://github.com/pyenv/pyenv.git
[submodule "dotfiles/.vim/bundle/indentpython.vim"]
	path = dotfiles/.vim/bundle/indentpython.vim
	url = git@github.com:vim-scripts/indentpython.vim.git
[submodule "dotfiles/.config/awesome/lain"]
	path = dotfiles/.config/awesome/lain
	url = https://github.com/lcpz/lain.git
[submodule "dotfiles/.vim/bundle/typescript-vim"]
	path = dotfiles/.vim/bundle/typescript-vim
	url = https://github.com/leafgarland/typescript-vim.git
[submodule "dotfiles/.vim/bundle/coc.nvim"]
	path = dotfiles/.vim/bundle/coc.nvim
	url = git@github.com:neoclide/coc.nvim.git
    branch = release
